In [1]:
import pandas as pd

In [2]:
weather_data = { 
'day' : [ '1/1/2017' , '1/2/2017' , '1/3/2017' , '1/4/2017' , '1/5/2017' , '1/6/2017' ], 
'temperature' : [ 32 , 35 , 28 , 24 , 32 , 31 ], 
'windspeed' : [ 6 , 7 , 2 , 7 , 4 , 2 ], 
'event' : [ 'Rain' , 'Sunny' , 'Snow' , 'Snow' , 'Rain' , 'Sunny' ] 
}

In [3]:
df = pd.DataFrame(weather_data)

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [6]:
df.tail(4)

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.sample(2)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
0  1/1/2017           32          6   Rain

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [15]:
df.temperature.dtypes

dtype('int64')

In [16]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [17]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

since set index doesn't change the actual df ... we store the change in other df(named dg)

In [18]:
dg = df.set_index('day')
dg

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

To change the actual df use "inplace"

In [19]:
df.set_index('day',inplace = True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [21]:
df.reset_index(inplace = True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

index reseted to 0,1,2,3,4...

In [22]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [23]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [24]:
df[['temperature', 'event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [28]:
df[['temperature', 'event', 'windspeed' ]]

   temperature  event  windspeed
0           32   Rain          6
1           35  Sunny          7
2           28   Snow          2
3           24   Snow          7
4           32   Rain          4
5           31  Sunny          2

Need to store only two columns then use ...  dg = df.[[...]]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [30]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [33]:
df[df['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [35]:
df['event'].value_counts()

Snow     2
Rain     2
Sunny    2
Name: event, dtype: int64

In [41]:
df.drop('event', axis =1)

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2